<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bhilley.journal_time1">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data android:name="com.mapbox.token" android:value="sk.eyJ1Ijoic2hlbGJ5c2FmYXJpIiwiYSI6ImNrZDNlY25ocDB5cnkydWw1Z2ZxMjl4N3QifQ.CmhL6ImgJWGHC35CWBxLeQ"/>
    </application>
</manifest>
